button {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px; 
    color: white;
    background-color: black;
    border: 1px solid white;
}


