body {
    margin: 0;
  }
  .products {
    display: inline-block;
    padding: 20px;
   margin: auto;
   margin-left: 15%;
   text-align: center;
  }
  
  
  .cart {
    display: flex;
    width: 20%;
    margin-left: 25px;
  }
  
  .cart h3 {
    margin-right: 60%;
  }
  
  .title {
    background-color: grey;
    color: white;
    font-size: xx-large;
    margin: 0%;
    border: 1px solid white;
    text-align: center;
    padding: 30px 0 20px;
  }
  .category {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
  }
  
  .button {
  margin: auto;
  margin-left: 200px;
  margin-right: 0;
  
  }

.alert {
  padding: 15px;
  border-radius: 5px;
  background-color: #f8d7da; /* Light red background color */
  border: 1px solid #f5c6cb; /* Darker red border */
  color: #721c24; /* Dark red text color */
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  font-size: 1.2rem;
}

  